.containerTag {
    width: 115px;
    height: 25px;
    background-color: #ff6060;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
    padding: 20px 0px;
}

.containerTag p{
    color : white;
    margin: 0px;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .containerTag{
        width: 84px;
        height: 18px;
        padding: 15px 0px;
    }
    .containerTag p{
        font-size: 10px;
    }
}
