.containerCarroussel{
  
}

.containerCollapseLogement{
    width: 100%;
    display: flex;
}


.containerInformations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 125px;
}

.titleAndTags{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userAndRating{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.infoTags{
    display:flex;
}



.containerDescription, .containerEquipement{
    width: 50%;
}

.containerDescription {
    margin-right: 50px;
}

.containerEquipement{
    margin-left: 50px;
}

.containerEquipement li {
    list-style: none;
}