.flexHome {
    width: 100%;
}

.containerHomeLocations {
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.bannerHome{
    width: 100%;
    height: 225px;
    margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
   
   .flexHome{
    width: 90%;
    margin: 0 auto;
   }

   .containerHomeLocations{
    background-color: white;
    justify-content: center;
    padding: 0px;
    gap: 20px;
   }

 }