.errorPageStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.returnLinkStyle, .warning, .errorServerMessage{
    color: #ff6060;
}

.errorServerMessage {
    margin: 30px;
    font-size: 288px;
}

.warning{
    font-size: 36px;
}

.returnLinkStyle{
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 5em
}

@media only screen and (max-width: 768px) {

    .errorServerMessage{
        font-size: 96px;
        margin: 100px 0px 0px;
    }

    .warning{
        text-align: center;
        font-size: 18px;
        margin: 0px;
    }

    .returnLinkStyle{
        font-size: 14px;
        margin-top: 5em
    }
}


