header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 75%;
  margin: 30px auto;
}

nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

a {
  width : 200px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #ff6060;
  font-size: 28px;
}

a:hover {
  text-decoration: underline;
}
