.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 75%;
  margin: 30px auto;
}

.navBar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navLink {
  margin-left: 45px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #ff6060;
  font-size: 28px;
}

.navLink:hover {
  text-decoration: underline;
}
