.numberSlides{
    position: absolute;
    bottom: 10px;
    left: 49%;
    color: #fff;
    font-size: 18px;
    visibility: visible
}


@media only screen and (max-width: 768px) {
    .numberSlides {
        visibility: hidden;
    }
}