.bannerTextContainer {
    position : absolute;
    text-align: center;
    font-size: 24px;
    color: #fff;
    top: 40%;
    width: 100%;
  }

.containerBanner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

.bannerImageContainer{
    height: 100%;
    position: relative;
  }

.textBanner{
    font-weight: 500;   
    margin: 0;
    font-size: 48px;
}

@media only screen and (max-width: 768px) {

    .bannerTextContainer{
        text-align: left;
        top: 30%;
    }
    .textBanner{
        margin-left: 20px;
        font-size: 24px;
    }
}